<section>
  <div class="container">
    <table class="table mt-5">
      <thead>
        <tr>
          <th scope="col">Item</th>
          <th scope="col">Title</th>
          <th scope="col">Quatnity</th>

        </tr>
      </thead>
      <tbody>
        {{#each products }}
        <tr>
         
          <td>
            <img src="/product-images/{{this.product._id}}.jpg" alt="" style="width:70px;height:auto" />
          </td>
          <td>{{this.product.name}}</td>
          
          <td>
           {{!-- {{#if response.quantity==1}}
           {{}}
           {{else}} --}}
          <button class="cart-item-count mr-4 " id="btn{{this.product._id}}" onclick="changeQuantity('{{this._id}}','{{this.product._id}}',-1)">-</button>

          {{!-- {{/if}} --}}

         <span id='{{this.product._id}}'> {{this.quantity}}</span>
            <button class="cart-item-count ml-4" onclick="changeQuantity('{{this._id}}','{{this.product._id}}',1)">+</button></td>
          <td>
           <button type="button" class="btn btn-danger" onclick="removeProduct('{{this._id}}','{{this.product._id}}')">Remove</button>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>
<script>

  function changeQuantity(cartId,proId,count){
    let quantity = parseInt(document.getElementById(proId).innerHTML)
     count = parseInt(count)
    $.ajax({
      url:'/change-product-quantity',
      data:{
        cart:cartId,
        product:proId,
        count:count,
        quantity:quantity
      },
      method:'post',
      success:(response)=>{
        if(response.removeProduct){
          alert('product removed')
          location.reload()
        }else{
          document.getElementById(proId).innerHTML=quantity+count
        }

       }
      })
    }


</script>